WTC/History/*
WTC/__Previews/*
WTC/Project Logs for water_treatment_controller/*
WTC/Project*
*.pdsbak
*.DsnWrk
WTC/Driver/DiscrDriver/__Previews/
WTC/Driver/DiscrDriver/Project Logs for DiscrDriver/
WTC/Driver/DiscrDriver/History/
info/datasheets/4.0inch_SPI_Module_ILI9486_MSP4022&MSP4023_V1.0/
info/datasheets/4.0inch_16BIT_Module_ILI9486_MRB3952_V1.0/
*.uvmpw.uvgui.*
SPO/MDK-ARM/SPO.uvguix.Андрей
info/datasheets/4.0inch_SPI_Module_ILI9486_MSP4022&MSP4023_V1.0/1-Demo/Demo_STM32/Demo_STM32F103RCT6_Hardware_SPI/PROJECT/
info/datasheets/4.0inch_16BIT_Module_ILI9486_MRB3952_V1.0/1-Demo/Demo_STM32/Demo_Elite_STM32F103ZET6_16_BIT_FSMC/PROJECT/
WTC/Driver/DiscrDriver/Project Logs for DiscrDriver/
WTC/Driver/DiscrDriver/__Previews/
SPO/MDK-ARM/SPO.uvguix.Андрей
SPO2.rar

SPO.rar

*.bak

*.d

*.o

DataConverter.iml

*.rar

DataConvertor/.idea/

*.iml

*.uvoptx

*.uvprojx

SPO/.idea/

SPO/MDK-ARM/SPO.uvguix*

SPO/MP.uvmpw.uvgui*

SPO/MDK-ARM/SPO/SPO_SPO.dep

SPO/MDK-ARM/SPO/SPO.axf

SPO/MDK-ARM/SPO/SPO.build_log.htm

SPO/MDK-ARM/SPO/SPO.htm

SPO/MDK-ARM/SPO/SPO.lnp

SPO/MDK-ARM/SPO/SPO.map

*.uvmpw

*.Андрей

SPO/MDK-ARM/SPO/SPO.hex

*__Previews/*
*/History/*
